html, body {
  background-color: #f9f9f9;
}
.header {
  padding: 1rem 0;
  border-bottom: solid 1px #e1e1e1;
  background-color: #ffffff;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header ul.list_left li {
  list-style-type: none;
  display: inline;
  margin-right: .5rem;
}
.header ul.list_right li {
  list-style-type: none;
  display: inline;
  margin-left: .5rem;
}

.brand {
  color: #666666;
  text-decoration: none !important;
}

.brand img {
  height: 50px;
  width: auto;
}

main {
  padding: 2rem;
}

footer {
  padding: 1rem 0;
}