@import "uniform/uniform";

html, body {
  background-color: #f7f7f9 !important;
}

a {
  color: #333;
  &:hover {
    color: #000;
  }
}

.page_title {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.header {
  padding: 1rem 0;
  background-color: #323436;
  color: #ffffff !important;
  .nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: #ffffff !important;
  }
  ul.header_menu_left {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-right: .75rem;
    }
  }
  ul.header_menu_right {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-left: .75rem;
    }
  }
}

.brand {
  color: #666666;
  text-decoration: none !important;
  margin-right: 1rem;
  img {
    height: 2rem;
    width: auto;
  }
}

.global_panel {
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: .25rem;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.login_page,
.register_page {
  .global_panel {
    max-width: 600px;
    margin: 80px auto;
  }
}

main {
  padding: 1rem 0;
}

footer {

}
