// Button Base

%button {
  border-radius: $border-radius;
  text-decoration: none !important;
  display: inline-block;
  border: $border-style $border-width transparent;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

// Button Size

.button-sm {
  @extend %button;
  padding: .25rem .75rem;
  font-size: 0.85rem;
}

.button-md {
  @extend %button;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.button-lg {
  @extend %button;
  padding: .75rem 1.25rem;
  font-size: 1.15rem;
}

// Button Colors

.button-primary {
  background-color: $color-primary;
  color: switch($color-primary) !important;
  border-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 10%);
    color: switch($color-primary) !important;
    border-color: darken($color-primary, 10%);
  }
}
