input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: .5rem 1rem;
  border: $border-style $border-width $border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  resize: vertical;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-family: $font-family;
  color: #666;
  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 5px lighten($color-primary, 20%);
  }
}

.input-group {
  margin-bottom: 1rem;
}
