.tab-menu {
  overflow: hidden;
  background-color: #f1f1f1;
  border: solid 1px #e1e1e1;
}

.tab-link {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
  &.active {
    background-color: red;
  }
}

.tab-content {
  display: none;
  padding: 1rem;
  border: solid 1px #e1e1e1;
  border-top: none;
}
